<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BirdBank</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/css/normalize.css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" href="./static/css/styles.css" th:href="@{/css/styles.css}"/>
  </head>
  <body class="body">
    <header class="header">
      <a class="logo" href="/">
        <img src="./img/logo.svg" alt="logo" />
        <h1>Bird<span>Bank</span></h1>
      </a>

      <nav class="nav">
        <a class="nav__link activated" href="/"> Inicio </a>
        <a class="nav__link" href="/formCliente">Agregar Cliente</a>
        <a class="nav__link" href="/reporte"> Reporte de Clientes</a>
      </nav>
    </header>

    <main th:object="${cliente}">
      <h2>Buscar Cliente</h2>
      <form class="search input">
        <label for="search" class="search-label">
          <img src="./img/lupa.svg" alt="lupa icon" />
        </label>
        <input
          type="search"
          id="curp"
          name="curp"
          placeholder="Ingrese CURP del cliente"
          class="search-input"
        />
      </form>

      <section th:if="${cliente != null}" class="card">
        <h3>Información de Cliente</h3>

        <div class="client-info">
          <div>
            <p class="label">No. de Cliente</p>
            <p class="info" th:text="${cliente.id}"></p>
          </div>
          <div>
            <p class="label">Nombre</p>
            <p class="info" th:text="${cliente.nombre}">Cristian David</p>
          </div>
          <div>
            <p class="label">Apellidos</p>
            <p class="info" th:text="${cliente.apellido}">Pan Zaldivar</p>
          </div>
          <div>
            <p class="label">CURP</p>
            <p class="info" th:text="${cliente.curp}">PAZC010106HYNNLRA6</p>
          </div>
          <div>
            <p class="label">Fecha de Nacimiento</p>
            <p class="info" th:text="${cliente.fechaDeNacimiento}">6 de enero de 2001</p>
          </div>
          <div>
            <p class="label">Edad</p>
            <p class="info" th:text="${cliente.edad}">21</p>
          </div>
        </div>
        <div class="buttons">
          <a class="button" th:href="@{/formCliente/{id}(id=${cliente.id})}">
            <img src="./img/edit.svg" alt="edit icon" />
          </a>
          <a class="button" th:attr="onclick='eliminarCliente(\'' + ${cliente.curp} + '\')'">
            <img src="./img/trash.svg" alt="trash icon" />
          </a>
        </div>
      </section>
      <section th:if="${cliente != null}" class="card">
        <h3>Cuentas de cliente</h3>
        <div th:each="cuenta: ${cliente.cuentas}" class="account-info">
          <div>
            <p class="label">No. de Cuenta</p>
            <p class="info" th:text="${cuenta.noCuenta}">1234567891234567</p>
          </div>
          <div>
            <p class="label">Saldo</p>
            <p class="info"  th:text="${cuenta.saldo}">$300</p>
          </div>
          <div>
            <p class="label">Fecha de Vencimiento</p>
            <p class="info" th:text="${cuenta.fechaVencimiento}">10/28</p>
          </div>
          <a th:attr="onclick=|eliminarCuenta(${cuenta.noCuenta})|" class="button account">
            <img src="./img/trash.svg" alt="trash icon" />
          </a>
        </div>
        <a  th:attr="onclick=|agregarCuenta(${cliente.id})|" class="newAccount">Agregar Cuenta</a>
      </section>
    </main>

    <script>
      const form = document.querySelector('.search'); 
      let data = ''; 
      const input = document.querySelector('.search-input'); 
      form.addEventListener('submit', (e)=> {
        e.preventDefault();  
        if (data.value !== '' && data !== null) {
          window.location.href = `/${data}`; 
        }
      }); 

      input.addEventListener('input', (e)=> {
        data = e.target.value; 
      }); 
    </script>
    <script>
      function agregarCuenta(clienteId) {
        const result = confirm("¿Desea agregar una nueva cuenta al cliente?")
        if (result) {
          window.location.href = `/agregarCuenta/${clienteId}`; 
        }
      }

      function eliminarCuenta(noCuenta) {
        const result = confirm(`¿Desea eliminar la cuenta ${noCuenta}?`); 
        if (result) {
          window.location.href = `/eliminarCuenta/${noCuenta}`
        }
      }

      function eliminarCliente(curp) {
        const result = confirm(`¿Esta seguro de eliminar el registro del cliente?`)
        if (result) {
          window.location.href = `/eliminarCliente/${curp}`
        }
      }
    </script>
    <script>
      const error = "[[${message}]]"; 
      if (error) {
        setTimeout(()=> {
          alert(error); 
        }, 100);
      }
    </script>
  </body>
</html>
